.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 140px;
  background-image: url('./img/bgimage.jpg');
  background-position: center;
  background-size: cover;
}

.App h1 {
  width: 200px;
}

.about-links a {
  margin: 5px;
  text-decoration: none;
  color: #000;
}

.about-links a:hover {
  color: #e0e0e0;
}

ol.team-list {
  padding: 90px 0;
}

ol.team-list li {
  width: 320px;
  padding: 12px 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: move;
}

ol.team-list li:hover {
  box-shadow: 1px 1px 30px #c77b08;
  transform: translate(10px, 0);
  background-color: #e0e0e0;
}

h3.title-rebaixados {
  text-align: left;
  width: 320px;
}

ol.rebaixados {
  padding: 20px 0;
}

ol.rebaixados li {
  list-style: none;
}

.dragging {
  border: 2px dashed #fff;
}

img.time-logo {
  width: 20px;
  margin-right: 20px;
}

button.resetar-lista {
  background-color: #000;
  border: none;
  width: 320px;
  color: #fff;
  font-size: 18px;
  padding: 12px;
  margin: 60px 0 80px 0;
  cursor: pointer;
}

button.resetar-lista:hover {
  color: orange;
}