@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Russo One', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

img {
  height: auto;
}

button {
  font-family: 'Russo One', Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}