@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-color: orange;
  font-family: 'Russo One', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

img {
  height: auto;
}